html{
    height: 100%;
    width: 100%;
}
body{
    background-image:url(Photos/learnmore\ bg.jpeg);
    background-position: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    height: 100vh;
    
    overflow:visible;
}
header{ /*Header tag*/

    display: flex;
    justify-content: end;
    padding: 30px 10px;
    align-items: center;
    height: 50px;
}
.logo{  /* Logo tag*/
    width: 200px;
    height: auto;
    position: fixed;
    top: -8%;
    left: 1%;
}
ul.topnav {   /* Top Navigation Background color and sizes*/
    background-color: rgba(34, 34, 34, 0.815);
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: -3px;
    right: 1px;
    width: 1390px;
    height: 100px;
    margin-bottom: 100px;
    padding-right: 20px;
    border-bottom: 2px solid white;
}

ul.topnav li { /* Itv conatain the alignments of navigations and buttons*/
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 18px;
}

ul.topnav li a { /* Styling of navigations*/
    border-radius: 50px;
    cursor: pointer;
    display: block;
    color: rgb(255, 94, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li:hover a {
     
    color: rgba(247, 244, 242, 0.685);
}
ul.topnav li.right {
    float: right;
}
.dropbtn{  /* Its a  DropDown Button 'MORE'*/

    background-color: #443f3b5e;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

@media screen and (max-width: 600px){ /*  Mobile Screen css */
    ul.topnav,
    ul.topnav {position: unset; border: none; background: none;}
    ul.topnav li.right, 
    ul.topnav li {float: left; margin-top: 136px;}
    .logo{position: absolute;}
}

ul.topnav .dropdown-content {
  display: none;
  position: absolute;
}
ul.topnav .dropdown-content a {
  color: rgb(243, 98, 14);
  text-align: left;
}
ul.topnav .dropdown:hover > .dropdown-content {
  display: block;
}
.Section{  /* Main Section  About Planets CSS*/
    max-width: 1100px;
    margin: auto;
    background: #b9a7a786;
    overflow: hidden;
    margin-top: 30px;
    padding-top: 100px;
    
}
.banner-text{
    border-bottom: #999 2px solid;
    text-align: center;
    color: rgb(17, 7, 7);
    padding-top: 140px;
    padding-bottom: -10px;
}
.banner-text h2{
    font-size: 30px;
    margin-top: -190px;
    top: 100px; 
    background: none;  
}
.container{
    padding-bottom: 10px;
    margin-top: 20px;
    margin: 20px;
    float : left;
    width: 500px; 
    height: 500px;
}
.container img{
    width: 100%;
    height: auto;
}
.name{
    padding: 15px;
    text-align: center;
    font-size: larger;
}
.Query h1{
     text-align: center;
    font-size: 50px;
}
.Query-q h2{
    text-align: left;
    margin-left: 15%;
}
.Query-q img{
    width: 700px;
    height: 500px;
    border: solid;
    margin-left: 20%;
}
.Query-q p{
    text-align: left;
    width: 800px;
    margin-left: 15%;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 25px;
}
@media screen and (max-width: 600px){
    .Section{float: left;}
    .banner-text{position: unset; margin-top: 30px;
    border-bottom: none;}
    .name{text-align: left;}
    .container img{float: none; width: 400; height: 400px;}
    
    .Query-q h2{ width: 400px; font-size: 20px;}
    .Query-q img{width: 400px; height: 400px; float: left;}
    .Query-q p{
        width: 400px;
        padding-top: 90px;
    }
}

footer{
    border-top: 2px solid white ;
    display: inline-block;
    margin-top: 7%;
    position: absolute;
    width: 1223px;
    height: 39%;
    padding: 50px 100px;
    background: rgba(17, 17, 17, 0.575);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -200px;
    border-radius: 1px solid;
}
#container{ 
    color: rgb(235, 49, 49);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row;   
}
.about-us{
    position: absolute;
    width: 40%;
    font-size: 14;
    margin-left: 10%;
}
#container h2{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(243, 114, 8);
    font-weight: 500;
    margin-left: 1.5%;
    text-align: left;

}
#container h2:before{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: -5px;
    left: 0%;
    margin-right: 10;
    border-bottom: 1px solid red;
}
.about-us{
    margin-right:200px ;
}
.about-us p{
    color: #fff;
    width: 60%;
    font-family: 'Times New Roman', Times, serif;
}
.sci{
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 13.5%;
    display: flex;
    margin-bottom: 100px;
    right: 100px;
    left: 0;
    bottom: 0;
    padding-top: 180px;
    
   
}
.sci li{
  position: sticky;
    list-style: none;
    margin-right: 4px;
    margin-top: 1%;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    background: #222;
    
}
.sci li a:hover{
    background: #f00;      
}
.sci li a .fa{
    color: #fff;
    font-size: 20px;
}
.sec.quicklinks{
    position: absolute;
    float: center;
    text-align: right;
    right: 600px;
    width: 25%;
    margin-left: 50%;
    font-size: 14;
    font-family: 'Times New Roman', Times, serif;
   
   
}
.sec.quicklinks h2{
    position: relative;
    text-align: left;
    color: rgb(243, 114, 8);
    margin-left: 60%; 
}
 .sec.quicklinks h2:before{
    content: " ";
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: -5px;
    left: 0%;
    margin-right: 10;
    border-bottom: 1px solid red;
}
.sec.quicklinks li{
    list-style: none;
    text-align: left;
    margin-left: 55%;
    padding-bottom: 2px;
}
.sec.quicklinks li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    text-align: left;
}
.sec.quicklinks li a:hover{
    color: #fff;
}
.contacts{
    color: aliceblue;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    right: 20%;
    text-align: left;
   margin-left: 1500px;
    margin-right: 0 !important;
}
.contacts h2{
    position: relative;
    margin-right: 10%;
    font-size: 21;
    margin-left: 71%;
    color: rgb(243, 114, 8)
}
.contacts h2:before{
    content: " ";
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: -5px;
    left: 0%;
    margin-right: 10;
    border-bottom: 1px solid red;
}
.contacts .info{
    position: relative;
    margin-left: 61%;
}
.contacts .info li{
    display: flex;
    margin-bottom: 14px;
    margin-left: -15%;
    white-space: nowrap;
}
.contacts .info li span:nth-child(1){
    color: #fff;
    font-size: 14;
    margin-right: 10px;
}
.contacts .info li span{
    color: #999;
    padding-left: 1%;
    padding-top: 1%;
}
.contacts .info li span a{
    color: #999;
    text-decoration: none;
}
.contacts .info li span:hover{
    color: #777;
}
.copyrightText{
    margin-top: 19%;
    width: 100%;
    padding: 8px 100px;
    text-align: center;
    color: #fff;
    height: 10px;
    font-family: sans-serif;
}
.copyrightText p{
}

    
@media screen and (max-width: 600px){
    footer{height: auto; width: 600px; float: none;}
    .container{width: 500px; float: none; height: 700px; flex-direction: none;flex-wrap: nowrap;}
}
